@font-face {
  font-family: "Pacifico";
  src: url(/Users/yuriirohachevskyi/Documents/Beetroot/git/Cahee/assets/fonts/pacifico/Pacifico.ttf);
}
.header {
  height: 100px;
  padding: 0 60px;
}
.header__logo {
  font-family: "Pacifico", serif;
  font-size: 35px;
}

.nav__btn, .nav__btn-link {
  font-family: "Raleway", serif;
  font-weight: 600;
  padding-top: 5px;
  border-top: 3px solid transparent;
  color: #000000;
  text-transform: uppercase;
  transition: ease-in-out 0.2s;
}
.nav__btn:hover {
  border-top: 3px solid #ff5f33;
}
.nav__btn-link:hover {
  color: #000000;
}

.fresh-banner {
  padding: 0 60px;
  margin-top: 150px;
  font-family: "Raleway", serif;
  font-weight: 400;
}
.fresh-banner__header {
  font-size: 50px;
  font-weight: 800;
}
.fresh-banner__subheader {
  margin-top: 20px;
}
.fresh-banner__btn {
  font-family: "Raleway", serif;
  text-transform: uppercase;
  border: none;
  padding: 10px 15px;
  background-color: #ff5f33;
  color: #ffffff;
  box-shadow: 2px 2px 4px #9a9a9c;
}
.fresh-banner__icon {
  margin: 200px auto 40px;
}
.fresh-banner__bg-img {
  top: 0;
  z-index: -1;
  width: 100%;
}

.about-us {
  background-color: #00C4C4;
  color: #ffffff;
  font-family: "Raleway", serif;
  font-weight: 800;
}
.about-us__header {
  font-size: 50px;
}
.about-us__description {
  font-weight: 300;
  font-size: 0.9rem;
}

.blog-wrapper {
  color: #ffffff;
  font-family: "Raleway", serif;
  font-weight: 400;
  background-color: #b07cf7;
  height: 700px;
}

.blog__header {
  font-weight: 700;
  font-size: 60px;
  text-transform: capitalize;
}
.blog__subheader {
  font-size: 16px;
  font-weight: 300px;
  width: 45%;
}

.item-wrapper {
  padding: 0 100px 0;
  margin: 0 auto;
}

.item {
  padding: 20px;
  cursor: pointer;
  box-shadow: inset 0px -160px 68px -64px rgba(0, 0, 0, 0.75), 0 2px 2px 0px rgba(0, 0, 0, 0.75);
  transition: ease-in-out 0.2s;
  margin: 0 10px;
  background-position: bottom;
  background-size: cover;
}
.item:nth-child(1) {
  background-image: url(https://debyri.github.io/lesson10homework/project2/assets/images/img1.jpg);
}
.item:nth-child(2) {
  background-image: url(https://debyri.github.io/lesson10homework/project2/assets/images/img2.jpg);
}
.item:nth-child(3) {
  background-image: url(https://debyri.github.io/lesson10homework/project2/assets/images/img3.jpg);
}
.item:hover {
  box-shadow: inset 0px -160px 68px -64px rgba(0, 0, 0, 0.75), 0 3px 3px 0px rgba(0, 0, 0, 0.75);
}
.item__date {
  padding-bottom: 5px;
  line-height: 1;
  font-size: 20px;
  font-weight: 800;
  width: 65px;
  height: 65px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10%;
}
.item__date .date {
  font-size: 30px;
}
.item__caption {
  width: 90%;
  font-size: 16px;
  font-weight: 800;
  margin: 100px 0 0;
}
.item__author {
  margin: 10px 0 0;
  color: #9c9c9c;
}
.item__author .author__date::before {
  content: " - ";
}

.blog__button {
  font-family: "Raleway", serif;
  text-transform: uppercase;
  border: none;
  padding: 10px 15px;
  background-color: #f72b3b;
  color: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.services-wrapper {
  background-color: #70bfff;
  padding: 100px 120px;
  font-family: "Raleway", serif;
  font-weight: 700;
}
.services__list-item {
  position: relative;
  margin-top: 20px;
  background-color: #ffffff;
  height: 60px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: ease-in-out 0.2s;
}
.services__list-item:first-of-type {
  margin-top: 0;
}
.services__list-item:hover {
  color: #0076d6;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
}
.services__header-wrapper {
  position: relative;
}
.services__header {
  font-weight: 700;
  font-size: 60px;
  text-transform: capitalize;
  font-size: 70px;
  z-index: 1;
  color: #ffffff;
}

.list-item__header {
  text-align: center;
  text-transform: capitalize;
  font-size: 0.9rem;
}
.list-item__icon {
  font-size: 30px;
  border-left: 1px solid #9d9d9d;
}
.list-item:hover {
  color: #70bfff;
}

.header__bg {
  height: 400px;
  position: absolute;
  top: -50px;
  right: 0;
  left: 0;
}

.gallery {
  background-color: #ffe92f;
  height: 1080px;
}
.gallery__header-wrapper {
  margin: 0 auto;
  padding: 60px 120px 0;
  background-color: #ffe92f;
}
.gallery__header {
  font-weight: 700;
  font-size: 60px;
  text-transform: capitalize;
  color: #000000;
  text-align: center;
}
.gallery__subheader {
  margin-top: 20px;
  text-align: center;
  padding: 0 15px;
}

.gallery__grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-auto-rows: 200px;
  padding: 40px 120px 0;
  margin-top: 40px;
}

.grid__card {
  grid-column: span 2/auto;
}
.grid__card:nth-child(1) {
  background-image: url("Cahee/images/gallery/img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid__card:nth-child(2) {
  background-image: url("/images/gallery/img1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid__card:nth-child(3) {
  background-image: url("/images/gallery/img2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid__card:nth-child(4) {
  background-image: url("/images/gallery/img3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid__card:nth-child(5) {
  background-image: url("/images/gallery/img4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid__card--tall {
  grid-row: span 2/auto;
}
.grid__card--wide {
  grid-column: span 3/auto;
}

.gallery__button {
  display: block;
  margin: 40px auto;
  font-family: "Raleway", serif;
  text-transform: uppercase;
  border: none;
  padding: 10px 15px;
  background-color: #5585a2;
  color: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.subscribe__wrapper {
  background-image: url("/images/subscribe/subscribe-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 120px;
}
.subscribe__header {
  font-weight: 700;
  font-size: 60px;
  text-transform: capitalize;
}
.subscribe__subheader {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}
.subscribe__form {
  margin-top: 20px;
}
.subscribe__input {
  font-family: "Raleway", serif;
  font-weight: 400;
  border: none;
  outline: none;
  border: 1px solid #000000;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  padding: 8px;
}
.subscribe__btn {
  font-family: "Raleway", serif;
  text-transform: uppercase;
  border: none;
  padding: 10px 15px;
  background-color: #96b92c;
  color: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.contact-us-wrapper {
  background-image: url("/images/contactUs/main-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Raleway", serif;
  font-weight: 400;
  height: 620px;
  width: 100%;
  padding: 0 80px 0;
}

.contact-us__header {
  margin-top: 50px;
  font-size: 4rem;
  text-transform: capitalize;
  font-weight: 600;
}
.contact-us__subheader {
  margin-top: 20px;
  font-weight: 300;
  font-size: 0.8rem;
}

.content__form-input {
  border: none;
  outline: none;
  margin-top: 20px;
  background-color: rgba(0, 196, 196, 0.5);
  color: #ffffff;
  padding: 10px;
}
.content__form-input:nth-child(1) {
  margin: 0;
}
.content__form-input::placeholder {
  color: #ffffff;
}
.content__form-input:focus {
  background-color: #00c4c4;
  border-left: 3px solid #355b82;
  padding-left: 8px;
}
.content__form-textarea {
  height: 150px;
}

.info {
  margin-left: 80px;
}
.info--layout {
  margin-top: 20px;
}
.info--layout:first-of-type {
  margin: 0;
}
.info__header {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  margin: 0;
}
.info__link {
  display: inline-block;
  text-decoration: none;
  margin-top: 2px;
}
.info__link--black {
  color: #000000;
}
.info__link:hover {
  color: #00c4c4;
}

.footer {
  height: 60px;
  background-color: #262626;
  color: #b9b9b9;
  font-size: 0.8rem;
  padding: 0 85px 0;
  font-weight: 300;
  width: 100%;
}
.footer__copyright, .footer__author {
  width: 20%;
}
.footer__logo {
  font-size: 1.5rem;
  font-family: "Pacifico", serif;
  text-transform: capitalize;
}
.footer__link {
  text-decoration: none;
  color: #b9b9b9;
}
.footer__link:hover {
  color: #00c4c4;
}
.footer__link--grey {
  color: #b9b9b9;
}
.footer__link--grey:hover {
  color: #00c4c4;
}

/*# sourceMappingURL=style.css.map */
