.content__form {

    &-input {
        @include inputReset;
        margin-top: $mt;
        background-color: rgba(0, 196, 196, .5);
        color: #ffffff;
        padding: 10px;

        &:nth-child(1) {
            margin: 0;
        }

        &::placeholder {
            color: #ffffff;
        }

        &:focus {
            background-color: #00c4c4;
            border-left: 3px solid #355b82;
            padding-left: 8px;
        }
    }
    &-textarea {
        height: 150px;
    }
}