.services {

    &-wrapper {
    background-color: #70bfff;
    padding: 100px 120px;
    @include mainFont (700);

    }

    &__list-item {
        position: relative;
        margin-top: $mt;
        background-color: #ffffff;
        height: 60px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
        transition: ease-in-out .2s;

        &:first-of-type {
            margin-top: 0;
        }
        &:hover {
            color: darken($color: #70bfff, $amount: 30%);
            box-shadow: 3px 3px 4px rgba(0, 0, 0, .8);
        }
    }

    &__header-wrapper {
        position: relative;
    }

    &__header {
        @include headerStyle (700);
        font-size: 70px;
        z-index: 1;
        color: #ffffff;
    }
}

.list-item {

    &__header {
        text-align: center;
        text-transform: capitalize;
        font-size: 0.9rem;
    }

    &__icon {
        font-size: 30px;
        border-left: 1px solid #9d9d9d;
    }
    &:hover {
        color: #70bfff;
    }
}

.header__bg {
    height: 400px;
    position: absolute;
    top: -50px;
    right: 0;
    left: 0;
}

